<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of brands</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class = "container text-center">
  <div><h1>Brands List</h1></div>
  <div class = "container text-center">
    <table class="table table-bordered table-dark">
      <thead>
      <tr>
        <th>ID </th>
        <th>Name</th>
        <th>Categories</th>
        <th></th>
      </tr>
      </thead>
      <br>
      <br>
      <tbody>
      <th:block th:each="brand: ${brandList}">
        <tr>
          <td>[[${brand.id}]]</td>
          <td>[[${brand.name}]]</td>
          <td>[[${brand.categories}]]</td>
          <td>
              <a th:href="@{'/brands/edit/' + ${brand.id}}" >Edit</a>
              <a th:href="@{'/brands/delete/' + ${brand.id}}" >Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>