<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::header-html"/>

<body class="d-flex flex-column min-vh-100" style="background-color:  #fff6e6">

<div th:replace="fragments :: menu"/>



<div class = "container text-center">
    <div><h1>Welcome to Olmaiz online shop!</h1></div>
    <div class = "p-2"> <a class = "h2" th:href="@{/categories}">List categories</a></div>
    <div>
    <div class = "p-2"> <a class = "h2" th:href="@{/categories/new}">Create category</a></div>
    </div>
    <div>
    <div class = "p-2"> <a class = "h2" th:href="@{/products}">List Products</a></div>
    </div>
    <div>
    <div class = "p-2"> <a class = "h2" th:href="@{/products/new}">Create product</a></div>
    </div>
    <div class = "p-2"> <a class = "h2" th:href="@{/brands}">List Brands</a></div>
    <div>
        <div class = "p-2"> <a class = "h2" th:href="@{/brands/new}">Create brand</a></div>
    </div>
    <div>
        <div class = "p-2"><a class = "h2" th:href="@{/register}">Register</a></div>
    </div>
</div>
<footer class="mt-auto" style="background-color: #fff6e6;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #0d0d0d;">Olmaiz company</h5>
                <p>
                    Olmaiz ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #0d0d0d;">links</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <a href="#!" style="color: #0d0d0d;">Frequently Asked Questions</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #0d0d0d;">Delivery</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #0d0d0d;">Pricing</a>
                    </li>
                    <li>
                        <a href="#!" style="color: #0d0d0d;">Where we deliver?</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-1" style="letter-spacing: 2px; color: #0d0d0d;">opening hours</h5>
                <table class="table" style="color: #0d0d0d; border-color: #0d0d0d;">
                    <tbody>
                    <tr>
                        <td>Mon - Fri:</td>
                        <td>8am - 9pm</td>
                    </tr>
                    <tr>
                        <td>Sat - Sun:</td>
                        <td>8am - 1am</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: #ccc5ba;">
        @2020 Copyright:
        <a class="text-dark" href="https://localhost:8080">olmaiz-shop.com</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>